/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Weather App Container */
.weather-app {
    background: linear-gradient(100deg, #282828, #d2d68a);
    width: 35%;
    max-width: 500px;
    max-height: 600px;
    margin: 15px auto 0;
    border-radius: 40px;
    padding: 20px 20px;
    text-align: center;
}

/* Search Bar */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
     border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 40px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    height: 20px;
}

/* Error Message */
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    display: none;
}

/* Weather Info */
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.city {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Weather Details */
.details {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.col {
    display: flex;
    align-items: center;
}

.col img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.col div {
    text-align: left;
}

.col p {
    margin: 0;
    font-size: 14px;
}

.col p:first-child {
    font-weight: bold;
    font-size: 16px;
}